<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>

    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">TM Repricing</a>
        </div>
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Home</a></li>
        </ul>
      </div>
    </nav>
    
    <div class="container">
      <button id="load-btn">Load</button>
      <ul id ='svc_list' class="data">
        Data will be here!
      </ul>
    </div>

    <script>
    $(document).ready(function(){
      document.getElementById("load-btn").onclick = function () {
        $.ajax({
          type: 'GET',
          url: '/loaddata' ,
          success: function(result){
            console.log(result);
            showRes(result);
        }});
      }
      function showRes(result) {
        $(".data")[0].innerHTML = '';
        var myList = result.json_list;
        console.log(myList);
        var tag = $$('p', {
          id: 'newContent'
        });
        tag.innerHTML = myList[0]['desc'];
        $(".data")[0].appendChild(tag);
      }

      function $$(tag, options) {
        if (!options) {
          return document.getElementById(tag);
        }

        var element = document.createElement(tag);

        for ( var option in options) {
          if (options.hasOwnProperty(option)) {
            element[option] = options[option];
          }
        }

        return element;
      }
    });
    </script>
  </body>
</html>
